* {
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
}

/*
Color Scheme
darkgrey: #595241
lightgray: #b8ae9c
lightblue: #accfcc
white: #FFFFFF
red: #8a0917
*/

#listTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#listTable th, #listTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#listTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#listTable tr.header, #listTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

#filterForm p {
    display: inline-block;
    width: 120px;
    height: ;
}

#filterForm {
    border: 1px solid blue;
}

#filterForm li {
    height: 40px;
}

#filterForm ul {
    list-style: none;
}

