* {
  box-sizing: border-box;
}

body, input, button, select {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #687FA1;
  min-width: 520px;
}

h1 {
  color: #202020;
  letter-spacing: -2px;
  margin: 0;
}

h1 span {
  display: block;
  margin: 11px 0 17px 0;
  font-size: 60px;
  line-height: 60px;
  color: #f1ebe5;
  text-shadow: 5px 10px 10px rgba(0, 0, 0, .5),0 -2px 1px white;
  letter-spacing: -4px;
}

h2 {
  color:  #FFFFFF;
  background-color: #0D264A;
  background: linear-gradient(to right, #0D264A,  #687FA1, #0D264A);
  position: absolute;
  left: 0;
  top: 0;
  height:56px;
  width: 100%;
  padding: 10px;
  margin: 0;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#listTable {
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffff;
  border: 2px solid #0D264A;
}

#listTable tbody tr:hover{
  background-color: #FFA800;
  color: #000000;
  cursor: pointer;
}

#listTable th:hover {
  background-color: #FFA800;
  color: #FFFFFF;
  cursor: pointer;
}

#listTable thead  {
  border: 2px solid #0D264A;
  background-color: #0D264A;
  color: #FFFFFF;
}

#listTable th {
  border: 2px solid #0D264A;
}

#listTable th, #listTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
  transition-duration: 0.4s;
}

#listTable th img {
   -webkit-filter: invert(1);
   filter: invert(1);
   position: relative;
   top: 3px;
   left: 10px;
}

#listTable tr {
  border-bottom: 1px solid #0D264A;
}

.searchButton {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.js-cancel-btn{
  float: right;
}

#addForm, #updateForm, #resultPopup {
  font-size: 18px; /* Increase font-size */
 -moz-border-radius: 8px;
 -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 65px 20px 20px 20px;
  background-color: #ffffff;
  border: 2px solid #0D264A;
  display: inline-block;
  line-height: 200%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, .5);
  position: relative;
}

#addForm label, #updateForm label, #filterForm label {
  display: inline-block;
  width: 170px;
}

#addOverlay, #updateOverlay, #resultOverlay  {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

.resultFromRequest {
  padding: 20px;
  border: 1px solid #0D264A;
  margin-bottom: 20px;
}

#filterForm {
  padding-top: 65px;
  font-size: 18px;
  position: relative;
  border: 2px solid #0D264A;
 -moz-border-radius: 8px 8px 0px 0px;
 -webkit-border-radius: 8px 8px 0px 0px;
  border-radius: 8px 8px 0px 0px;
  background-color: #ffffff;
}

#filterForm li {
  height: 40px;
}

#filterForm ul {
  list-style: none;
}

input {
  font-size: 18px;
}

input:read-only {
  background-color: rgba(104, 127, 161, .3);
}

button, .button {
  font-family : inherit;
  font-size: 1em;
  background-color: #0D264A;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border: 2px solid #0D264A;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
  border-radius: 4px;
  transition-duration: 0.4s;
  height: 55px;
  overflow:hidden;
  background-position: center center;
  background-repeat: no-repeat;
}

button:hover:enabled, .button:hover:enabled {
  background-color: #FFA800;
  cursor: pointer;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.addButton {
  float: right;
}

#recordsPerPage {
  padding: 0px 0px;
   font-size: 18px;
   overflow:hidden;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   border: 2px solid #0D264A;
   color: white;
   background: #0D264A url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
  transition-duration: 0.4s;
}

#recordsPerPage:hover {
  background-color: #FFA800;
  cursor: pointer;
}

#recordsPerPage option {
  background-color: #0D264A;
}

.currentPage {
  text-align: left;
  font-family : inherit;
  font-size: 1em;
  height: 55px;
  width: 55px;
  border: 0;
  background-color: inherit;
  color: black;
}

.nextButton {
  float: right;
  background-image: url('/next.png');
  background-size: 50px 40px;
  background-repeat: no-repeat;
}

.prevButton {
  float: left;
  background-image: url('/prev.png');
  background-size: 50px 40px;
  background-repeat: no-repeat;
}

nav {
  background-color: #FFFFFF;
  border: 2px solid #0D264A;
  border-top: 0px;
   -moz-border-radius: 0px 0px 8px 8px;
   -webkit-border-radius: 0px 0px 8px 8px;
  border-radius: 0px 0px 8px 8px;
  padding: 5px 10px 2px 10px;
  text-align: center;
  height: 70px;
}

nav p {
  margin: 5px;
}

.pageControl {
  display: inline-block;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently
                  supported by Chrome and Opera */
}

.topBar {
  position: relative;
  margin: 10px;
}